<section class="connect--button">
    <section class="dark">
        <a class="button button--rect button--rect--dark" href="https://linkedin.com/in/ijosh">Connect</a>
    </section>
    <section class="dark-icons">
        <a class="button far fa-envelope" href="mailto:josh.contact.k1jtywic@jgrid.net" style="font-size: 28px; padding-top: 9.5px;"></a>
        <span class="spacer"></span>
        <a class="button fab fa-linkedin-in" href="https://linkedin.com/in/ijosh" style="font-size: 28px; padding-top: 9.5px;"></a>
        <span class="spacer"></span>
        <a class="button fab fa-keybase" href="https://keybase.io/ijosh" style="font-size: 28px; padding-top: 9.5px;"></a>
    </section>
</section>