<section class="button-container">
    <section class="dark" id="connectbuttoncontainer">
        <a class="button button--rect button--rect--dark" id="connectbutton" href="https://linkedin.com/in/ijosh">Connect</a>
    </section>
    <section class="dark-icons">
        {{ if .Site.Params.showemail.enable }}
        <a class="button far fa-envelope" href="mailto:josh.contact.k1jtywic@jgrid.net" style="font-size: 28px; padding-top: 9.5px;"></a>
        <span class="spacer"></span>
        {{ end }}
        <a class="button fab fa-linkedin" href="https://linkedin.com/in/ijosh" style="font-size: 28px; padding-top: 9.5px;"></a>
        <span class="spacer"></span>
        <a class="button fab fa-twitter" href="https://twitter.com/dvnll" style="font-size: 28px; padding-top: 9.5px;"></a>
        <span class="spacer"></span>
        <a class="button fab fa-keybase" href="https://keybase.io/ijosh" style="font-size: 28px; padding-top: 9.5px;"></a>
    </section>
</section>