<section class="button-container">
    <section class="dark" id="connectbuttoncontainer">
        <a class="button button--rect button--rect--dark" id="connectbutton" href="https://instagram.com/joshthings">Connect</a>
    </section>
    <section class="dark-icons">
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <a class="button fab fa-square-instagram" href="https://instagram.com/joshthings" style="font-size: 34px; padding-top: 6.5px;"></a>
        <span class="spacer"></span>
        <a class="button fab fa-linkedin" href="https://linkedin.com/in/ijosh" style="font-size: 34px; padding-top: 6.5px;"></a>
        <span class="spacer"></span>
        {{ if .Site.Params.showtwitter.enable }}
        <a class="button fab fa-square-x-twitter" href="https://x.com/dvnll" style="font-size: 34px; padding-top: 6.5px;"></a>
        <span class="spacer"></span>
        {{ end }}
        {{ if .Site.Params.showgithub.enable }}
        <a class="button fab fa-square-github" href="https://github.com/jshvn" style="font-size: 34px; padding-top: 6.5px;"></a>
        <span class="spacer"></span>
        {{ end }}
        {{ if .Site.Params.showemail.enable }}
        <a class="button fa fa-square-envelope" href="mailto:josh.contact.k1jtywic@jgrid.net" style="font-size: 34px; padding-top: 6.5px;"></a>
        <span class="spacer"></span>
        {{ end }}
    </section>
</section>