<div class="split-intro">
  {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
  {{ with .Params.tagline }}<span class="tagline">{{ . }}</span>{{ end }}
  {{ if .Site.Params.showlocation.enable }}
    {{ with .Params.location }}
    <div class="location-wrapper">
        <div class="fa-solid fa-location-dot" style="font-size: 16px;"></div>
        <span class="location">{{ . }}</span>
    </div>
    {{ end }}
  {{ end }}

  {{ if .Site.Params.showemojis.enable }}
    {{ with .Params.emojis }}
    <div class="emojis-wrapper">
        <div class="fa-solid fa-id-badge" style="font-size: 16px;"></div>
        <span class="emojis">{{ . }}</span>
    </div>
    {{ end }}
  {{ end }}
</div>
